<div class="mb-6">
  <h2 class="mt-0">Friends</h2>
  <div class="flex mb-4">
    <input id="newFriend" type="text" autocomplete="off" placeholder="Enter friend's name" class="flex-grow px-2 py-2 border border-gray-300 rounded mr-2" />
    <button id="addFriendButton" class="px-3 py-2 bg-green-600 text-white rounded cursor-pointer">Add</button>
  </div>
  <ul id="friendsList"></ul>
</div>
