<div class="flex flex-col items-center justify-center p-5 flex-[2]">
  <div id="wheel" class="relative w-[75vh] h-[75vh] rounded-full bg-gray-200 overflow-hidden mb-8 transition-transform duration-[2000ms] ease-[cubic-bezier(0.175,0.885,0.32,1.275)]"></div>
  <button id="spinButton" class="px-4 py-2 bg-blue-500 text-white rounded cursor-pointer text-base">Spin the Wheel</button>
  <div id="nameDisplay" class="relative w-[150px] h-[150px] rounded-full flex items-center justify-center text-lg font-bold text-white mt-5 opacity-0 transition-opacity duration-500">
    <div class="absolute bottom-0 left-1/2 w-0 h-0 border-l-[15px] border-l-transparent border-r-[15px] border-r-transparent border-t-[20px] border-t-white -translate-x-1/2"></div>
  </div>
</div>
